.root{
    -fx-background-color: "black";
}

Button{
    -fx-color: "red";
    -fx-border: 100px;
    -fx-border-color: "green";
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5 15;
    -fx-pref-width:100px;


}